body{
    background-image:
        url(../Images/UAEMEX2.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    backdrop-filter: blur(7px);
}

#menu_opciones, #modificar {
    margin: 0;
    padding:0;
    list-style-type: none;
    background-color: rgba(156, 132, 18, 1);
}

#menu_lateral, #perfil_usuario{
    display:grid;
    place-items: left;
    height: 100vh;
    padding:10px 16px;
    margin-left:10px;
}
#menu_opciones img {
    width: 150px;
    padding: 10px 16px;
    display:block;
    background-color: rgba(255,255,255);
}
#menu_opciones a, #modificar a, button{
    text-decoration: none;
    background-color: rgba(156, 132, 18, 1);
    color: rgb(255,255,255);
    width: 150px;
    padding: 10px 16px 10px ;
    display: block;
    text-align:center;
}

.documents, .options {
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}
#link, #update-btn {
    text-decoration: none;
    background-color: rgba(156, 132, 18, 1);
    color: rgb(255,255,255);
    width: 150px;
    padding: 10px;
    display: block;
    text-align:center;
}

#menu_opciones a:hover, #modificar a:hover, button:hover, #link:hover, #update-btn:hover {
    background-color: rgba(44, 82, 52, 1);
}

article {
    background-color: rgba(255,255,255,0.8);
    padding: 10px 20px;
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
}


#perfil_usuario {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#perfil_usuario h1 {
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-bottom: 30px;
    column-span: 2;
}

#imagen_perfil {
    margin-top: 30px;
    position:relative;
    flex-shrink: 0;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}

#imagen_perfil img {
    width: 200px;
    height: auto;
}

#datos_personales {
    margin-left: 30px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    flex:1;
}

#datos_personales h2, b {
    color:rgba(44, 82, 52, 1);
}
#datos_personales p {
    padding-left: 30px;
}

#button {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -70px;
    padding-right: 90px;
}
#modificar {
    background-color: rgba(255,255,255,0.8);
    margin:0;
    display: flex;
    flex-direction: row;
}
#modificar li {
    display: block;
}

#modificar a{
    border-radius: 8px;
    width: 190px;
    padding-left: 5px;
    margin-left: 5px;
}


#menu_opciones a, button{
    text-decoration: none;
    background-color: rgba(156, 132, 18, 1);
    color: rgb(255,255,255);
    width: 150px;
    padding: 10px 16px 10px;
    display: block;
    text-align:center;
}

/*Parte del formularios*/

.form-container {
    width: 400px;
    background-color: #FEFFFC;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4;
    align-items: center;
    text-align: center;
    border-color: rgb(0,0,0);
}

.form-container h1, i, .form-container1 h1, i {
    font-size: 40px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
#button {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px; 
    padding-right: 50px;
}
#modificar {
    background-color: transparent; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 15px; 
}
.form-container label, .form-container1 label{
    font-size: 15px;
    width: 300px;
    padding: 5px;
    font-style: oblique;
}
.form-container input, .form-container1 input {
    width: 80%;
    background-color: #FDFFD4;
    padding:5px;
    margin-bottom: 15px;
}
.form-container button {
    width: 100%;
    border: none;
    font-size: 20px;
    margin: 10px auto;
}


.form-container1 {
    width: 1000px;
    background-color: #FEFFFC;
    padding: 10px;
    margin: auto;
    border-radius: 4;
    align-items: center;
    text-align: center;
    column-count: 2;
    break-inside: avoid; 
}

.form-container2 {
    width: 1200px;
    background-color: #FEFFFC;
    padding: 10px;
    margin: auto;
    border-radius: 4;
    align-items: center;
    text-align: center;
}
.form-container2 a i{
    font-size: 30px;
}

.form-container2 table tr:hover{
    background-color: rgba(44, 82, 52, 0.1);
}

.form-container2 a {
    text-decoration: none;
    color: rgba(156, 132, 18, 1);
}

.form-container2 a:hover {
    color: rgba(44, 82, 52, 1);
}
.form-container2 i {
    height: 2px;
    width: auto;
}

.titulo-form, #update, #back {
    column-span: all;
}
/*location.href ayuda a que el boton funcione de hipervinculo*/
.form-container1 button{
    margin: 20px auto;
    width:50%;
    display: block;
    border: none;
    font-size: 20px;
}


select {
    background-color: rgba(156, 132, 18, 1);
    color: rgb(255,255,255);
    border: none;
    width:80%;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    gap:3px;
}

select:hover{
    box-shadow: 0 0 0 3px rgba(44, 82, 52, 1);
 }
 
 #del, #upd {
     font-size: 1.2rem;
     background-color: transparent;
     width:100%;
     padding: 0;
     align-items: center;
     justify-content: center;
     vertical-align: middle;
 }
 
 #del {
     color: red;
     border-color: red;
 }
 
 #upd {
     color: green;
     border-color: green;
 }
 
 #del:hover {
    border-color:rgba(44, 82, 52, 1);
    color: rgba(44, 82, 52, 1);
 }

 #passSquare {
      background-color: rgba(237, 255, 168,0.8);
 }